    @import url('https://fonts.googleapis.com/css?family=Courgette');
    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:black;
        font-family: Courgette;
    }
    
    input {
        font-size: 3em;
        color: black;
    }
    
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
 
    .design
    {
        border-color: black;
        border-width: 3px;
        border-radius: 10px;
    }
    