body{
	background-color: black;
}

#gameWindow{
	position: relative;
	width: 500px;
	height: 300px;
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
	cursor: url('../img/crosshair.gif') 16 16, crosshair;
}

.monkey{
  
	z-index: 10;
	position: absolute;
	width: 80px;
	height: 80px;
	background: url('../img/monkey.png');
	background-size:80px 80px;
}


.txt
{
	margin-left: 25%;
	font-size: 1.5em;
	color: orange;
	background-color: brown;
	border: solid;
	border-color: #654321;
	border-radius: 10px;
	width: 50%;
	text-align: center;
}
